AUTH_SECRET=secret

AUTH_GOOGLE_ID=your_google_id
AUTH_GOOGLE_SECRET=your_google_secret

DATABASE_URL=database_url

# Bolna
BOLNA_API_KEY=your_bolna_api_key
BOLNA_AGENT_ID=your_agent_id
BOLNA_FROM_PHONE_NUMBER=+911234567890
BOLNA_API_BASE=https://api.bolna.ai


NEXT_PUBLIC_URL=http://localhost:3000
AUTH_URL=http://localhost:3000